<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Got creative ideas? Bring them to life with Framer X.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="{{ .Title }} · {{ .Site.Title }}">
  <meta itemprop="description" content="Investigación que evidencia las violencias que ejercen miembros de la Fuerza Pública a sus parejas.">
  <meta itemprop="image" content="https://datasketch.github.io/violencias-invisibles/images/ilustracion-home.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://datasketch.github.io/violencias-invisibles/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Title }} · {{ .Site.Title }}">
  <meta property="og:description" content="Investigación que evidencia las violencias que ejercen miembros de la Fuerza Pública a sus parejas.">
  <meta property="og:image" content="https://datasketch.github.io/violencias-invisibles/images/ilustracion-home.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Title }} · {{ .Site.Title }}">
  <meta name="twitter:description" content="Investigación que evidencia las violencias que ejercen miembros de la Fuerza Pública a sus parejas.">
  <meta name="twitter:image" content="https://datasketch.github.io/violencias-invisibles/images/ilustracion-home.png">

  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ $styles := resources.Get "tailwind.css" | postCSS | minify }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>

<body>
  <div class="wrapper font-barlow-condensed">
    {{ partial "header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ block "js" . }}{{ end }}
  </div>
</body>

</html>