<div class="chart">
  <div class="w-full relative h-64">
    <iframe src='{{ "charts/seis.html" | absURL }}' class="absolute inset-0 w-full h-full border-none"></iframe>
  </div>
  <div class="chart-caption text-sm leading-tight text-center mt-2">0.2% de todos los efectivos de la fuerza pública han sido o son presuntos agresores de mujeres.</div>
</div>
<div class="chart">
  <div class="w-full relative h-64">
    <iframe src='{{ "charts/uno.html" | absURL }}' class="absolute inset-0 w-full h-full border-none"></iframe>
  </div>
  <div class="chart-caption text-sm leading-tight text-center mt-2">La Secretaría de la Mujer de Bogotá reportó 75 mujeres atendidas en 2018 que manifestaron que su agresor es o fue miembro de la fuerza pública.</div>
</div>
<div class="chart">
  <div class="w-full relative h-64">
    <iframe src='{{ "charts/dos.html" | absURL }}' class="absolute inset-0 w-full h-full border-none"></iframe>
  </div>
  <div class="chart-caption text-sm leading-tight text-center mt-2">Medicina Legal reporta que agentes de la policía han sido quienes más han agredido mujeres, seguido de miembros de seguridad privada.</div>
</div>
<div class="chart">
  <div class="w-full relative h-64">
    <iframe src='{{ "charts/tres.html" | absURL }}' class="absolute inset-0 w-full h-full border-none"></iframe>
  </div>
  <div class="chart-caption text-sm leading-tight text-center mt-2">La violencia interpersonal es el tipo de agresión más frecuente por parte de miembros de la fuerza pública contra mujeres. Seguido de presuntos delitos sexuales.</div>
</div>
<div class="chart">
  <div class="w-full relative h-64">
    <iframe src='{{ "charts/cuatro.html" | absURL }}' class="absolute inset-0 w-full h-full border-none"></iframe>
  </div>
  <div class="chart-caption text-sm leading-tight text-center mt-2">Los agentes de la policía son quienes más ejercen violencias interpersonales contra mujeres. A su vez, los miembros de las fuerzas militares son quienes más han ejercido presuntos delitos sexuales contra mujeres.</div>
</div>