{{ if .IsHome }}
  <nav class="bg-mirage px-4 py-2">
{{ else }}
  {{ $bg := .Params.background }}
  <nav class="px-4 py-2 post-nav">
{{ end }}
  <div class="flex justify-end items-center">
    <a href="https://www.datasketch.co" target="_blank">
      <img class="w-40 image-white" src='{{ "images/ds.svg" | absURL }}' alt="">
    </a>
    <a href="https://twitter.com/acoocobjecion?lang=es" target="_blank" class="ml-4">
      <img class="w-24" src='{{ "images/acooc.png" | absURL }}' alt="">
    </a>
  </div>
</nav>